/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "scss/html/home";

@import "../scss/html/productos";

@import "../scss/html/precios";

@import "../scss/html/nosotros";

@import "../scss/html/contacto";
