header{
    .topper{
        background-color: #F8F9FA;
        align-items: end;
        display: flex;
        margin: 0;
        padding: 1rem;
        justify-content: space-between;        
    }
}

main{

    .div-home{
        display: flex;
        flex-direction: row;
        .contenedor-home{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            
        }
    }
    .div-img{
        display: flex;
        flex-direction: end;
        
        margin: 1rem;
        img{
           width: 50%; 
        }
        
    }


    
    section{
        
        
        .card{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border: solid;
            padding: 1rem;
            margin: 1rem;
        }
    }
}

@media screen and (min-width:1024px){
    main{
        .div-img{
            display: flex;
            flex-direction: center;
            margin: 1rem;
            img{
               width: 50%; 
            }
            
        }
        section{
            .card{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border: solid;
            padding: 1rem;
            margin: 1rem;
            }
        }
    }
}